<h1><%= @restaurant.name %></h1>
<ul>
  <li>
    <%=@restaurant.address %>
  </li>
  <li>
    <%=@restaurant.category %>
  </li>
  <%@restaurant.reviews.each do |r|%>
  <li>
    Review: <%=r.content%>
    Rating: <%=r.rating %>
  </li>
  <% end %>
</ul>

<h1>New review</h1>
<%=simple_form_for [@restaurant, @review] do |f| %>
  <%=f.input :content%>
  <%=f.input :rating%>
  <%=f.submit "Submit review", class: "btn btn-primary"%>
<% end %>

 <%=link_to "Back", restaurants_path%>
 <%=link_to "Review", new_restaurant_path(@restaurant)%>
